In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [101]:
data = pd.read_csv('creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [102]:
data.shape

(284807, 31)

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [104]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [105]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [106]:
 data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [107]:
# This dataset is highly unbaleanced
#0-->Nomal transaction
#1-->fraudulent transaction

In [108]:
legit = data[data.Class==0]
fraud = data[data.Class==1]

In [109]:
legit.shape

(284315, 31)

In [110]:
fraud.shape

(492, 31)

In [111]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [112]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [113]:
# ommare the value for both transaction

In [114]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [115]:
# build a sample dataset containg similar distribution and fraudulent transection
# number of fraudulent

In [116]:
legit_sample = legit.sample(n=492)

In [117]:
# concatenating two dataframes

In [118]:
new_data = pd.concat([legit_sample,fraud],axis=0)

In [119]:
new_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
172670,121193.0,-0.213151,1.217006,-0.525014,-0.373432,0.291191,-1.223866,0.716596,0.127993,-0.177603,...,0.401136,1.306267,-0.100561,-0.070304,-0.746467,-0.210595,0.385504,0.258696,1.79,0
28749,35140.0,-1.218698,1.013258,1.610084,-1.418246,-0.169963,-0.945987,0.504857,0.061531,-0.014589,...,-0.077435,-0.015612,-0.008948,0.584079,-0.257532,0.697724,0.471394,0.315879,3.84,0
74151,55446.0,-7.767467,6.113793,-3.014038,-2.329360,-3.209272,-1.003746,-2.276665,3.498150,2.752156,...,-0.420915,-0.478241,0.545292,-0.069070,0.660818,0.732677,0.566931,-0.077334,2.31,0
778,588.0,0.485685,-1.367458,0.867546,0.321954,-0.760654,1.573421,-0.588742,0.531746,1.049393,...,0.075587,0.047857,0.005935,-0.520361,-0.301106,1.020141,-0.008744,0.050724,275.89,0
147871,89108.0,1.930685,-0.457408,-0.524836,0.347512,-0.454440,-0.180061,-0.521394,0.064530,1.360332,...,-0.175444,-0.487211,0.377624,0.542330,-0.439682,-0.646858,0.023144,-0.021017,39.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [120]:
new_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [121]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94946.666667,-0.030536,0.055754,0.029570,0.004961,0.119965,0.008892,-0.021065,0.030717,0.016601,...,-0.007204,-0.016209,0.061323,0.004337,-0.003151,0.022346,0.035585,-0.017040,0.004995,67.422459
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [122]:
# spliting the data into features and target

In [123]:
x = new_data.drop(columns='Class',axis=1)
y = new_data['Class']

In [126]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
172670,121193.0,-0.213151,1.217006,-0.525014,-0.373432,0.291191,-1.223866,0.716596,0.127993,-0.177603,...,-0.130472,0.401136,1.306267,-0.100561,-0.070304,-0.746467,-0.210595,0.385504,0.258696,1.79
28749,35140.0,-1.218698,1.013258,1.610084,-1.418246,-0.169963,-0.945987,0.504857,0.061531,-0.014589,...,0.323081,-0.077435,-0.015612,-0.008948,0.584079,-0.257532,0.697724,0.471394,0.315879,3.84
74151,55446.0,-7.767467,6.113793,-3.014038,-2.329360,-3.209272,-1.003746,-2.276665,3.498150,2.752156,...,1.856768,-0.420915,-0.478241,0.545292,-0.069070,0.660818,0.732677,0.566931,-0.077334,2.31
778,588.0,0.485685,-1.367458,0.867546,0.321954,-0.760654,1.573421,-0.588742,0.531746,1.049393,...,0.355380,0.075587,0.047857,0.005935,-0.520361,-0.301106,1.020141,-0.008744,0.050724,275.89
147871,89108.0,1.930685,-0.457408,-0.524836,0.347512,-0.454440,-0.180061,-0.521394,0.064530,1.360332,...,-0.170497,-0.175444,-0.487211,0.377624,0.542330,-0.439682,-0.646858,0.023144,-0.021017,39.99

In [127]:
y.head()

172670    0
28749     0
74151     0
778       0
147871    0
Name: Class, dtype: int64

In [128]:
#split the into training data and testing data

In [133]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [136]:
x.shape,x_train.shape,x_test.shape

((984, 30), (787, 30), (197, 30))

In [137]:
#model training 
#logistic regression

In [138]:
model_lr = LogisticRegression()

In [139]:
#training the logistic regression model with training data

In [140]:
model_lr.fit(x_train,y_train)

LogisticRegression()

In [141]:
#Accuracy score

In [143]:
x_train_prediction = model_lr.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)
print("Accuracy on traning data:",training_data_accuracy)

Accuracy on traning data: 0.9390088945362135

In [144]:
x_test_predict = model_lr.predict(x_test)
testting_data_accuracy = accuracy_score(x_test_predict,y_test)
print('Accuracy on test data:',testting_data_accuracy)

Accuracy on test data: 0.9390862944162437

In [149]:
input_data = (543,-0.403086552214478,1.07843165266833,1.16532788649691,-0.187949504973358,0.499558707993067,0.016322819140058,0.573979654406964,0.191401720319954,-0.748148125052159,-0.407914316549289,1.54127133253439,0.980529390263838,0.811858512139957,-0.37157448986725,0.387964651284066,0.347367689640283,-0.125555558556736,-0.0761662102124867,-0.0411765981303515,0.150635329095758,-0.197658678605145,-0.462064710806177,-0.0478555322455466,-0.339166392017741,-0.194769343534108,0.102003098197331,0.26281812105708,0.0829441618614795,2.98
)
input_data_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_numpy_array.reshape(1,-1)
prediction = model_lr.predict(input_data_reshaped)
print(prediction)

if prediction[0]==1:
    print('Fraudulent Transaction')
else:
    print('Normal Transaction')

[0]
Normal Transaction

C:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(